<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/settings/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<pluginGroups>
	</pluginGroups>

  <proxies>
    <proxy>
      <active/>
      <protocol>http</protocol>
      <username/>
      <password/>
      <port>TODO-proxy-port</port>
      <host>TODO-proxy-host</host>
      <nonProxyHosts>TODO-no-proxy-host</nonProxyHosts>
      <id/>
    </proxy>
  </proxies>

</settings>
